@font-face {
  font-family: ZingRust;
  src: url('../font/ZingRustDemo-Base.otf');
}

@font-face {
  font-family: Superspace;
  src: url("../font/Superspace/SuperspaceRegular.otf");
  font-weight: normal;
}
@font-face {
  font-family: Superspace;
  src: url("../font/Superspace/SuperspaceBold.otf");
  font-weight: bold;
}
@font-face {
  font-family: Superspace;
  src: url("../font/Superspace/SuperspaceLight.otf");
  font-weight: lighter;
}
@font-face {
  font-family: Superspace;
  src: url("../font/Superspace/SuperspaceRegularItalic.otf");
  font-weight: normal;
  font-style: italic;
}

