
/* BASIC */
html {
  font-size: 16px;
  color: #e0e0e0;
}
body {
  min-height: 100vh;
  background-color: #0a0710;
  color: #e0e0e0;
}

.container,
.section {
  background-color: transparent;
  background-color: transparentify;
}
@media screen and (max-width: 500) {
  .section {
    padding: 3rem 1rem;
  }
}
.abs {
  position: absolute;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.regular {
  font-weight: normal;
}
.fzing {
  font-family: ZingRust;
}
.fspace {
  font-family: Superspace;
}
h1, h2, h3, h4, h5, h6, p, div, span, label {
  white-space: pre-line;
  font-family: Superspace;
}
.tcenter {
  text-align: center
}
.mcenter {
  margin: 0 auto
}
.jcenter {
  justify-content: center
}
.flex {
  display: flex;
}
.fa, .far, .fas {
  font-family: FontAwesome;
  font-style: normal;
}


/* FONTS */

@font-face {
  font-family: ZingRust;
  src: url('../font/ZingRustDemo-Base.otf');
}
@font-face {
  font-family: Superspace;
  src: url("../font/Superspace/SuperspaceRegular.otf");
  font-weight: normal;
}
@font-face {
  font-family: Superspace;
  src: url("../font/Superspace/SuperspaceBold.otf");
  font-weight: bold;
}
@font-face {
  font-family: Superspace;
  src: url("../font/Superspace/SuperspaceLight.otf");
  font-weight: lighter;
}
@font-face {
  font-family: Superspace;
  src: url("../font/Superspace/SuperspaceRegularItalic.otf");
  font-weight: normal;
  font-style: italic;
}
